<div class="footer fixed_full animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            上海领承智能科技有限公司，沪ICP备13012084号
        </div>
        <div class="col-md-6 text-right">
            <small>&copy; 2010-@DateTime.Now.Year</small>
        </div>
    </div>
</div>