@model LoggedOutViewModel

@{
    Layout = "~/Views/Shared/_Layout.2.cshtml";
    // set this so UI rendering sees an anonymous user
    Context.User = new System.Security.Claims.ClaimsPrincipal(new System.Security.Claims.ClaimsIdentity());
}

<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">您已退出系统</h3>
        @if (Model.PostLogoutRedirectUri != null)
        {
            <div class="error-desc">
                系统会在 <span id="countdown">5</span> 秒钟后自动返回 @Model.ClientName
            </div>
            <a href="@Model.PostLogoutRedirectUri" class="btn btn-primary m-t PostLogoutRedirectUri">
                不等了，直接返回
            </a>
        }
        @if (Model.SignOutIframeUrl != null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        }
    </div>
</div>

@section Scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
